{% load static %}
<html lang="en">
  {% load pwa %}
  <head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MCU OwO</title>
    <!-- materialize icons, css & js -->
    <link
      type="text/css"
      href="{% static 'css/materialize.min.css' %}"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'css/styles.css' %}?version=1"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="{% static 'js/materialize.min.js'%}"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body class="grey lighten-4">
    <!-- top nav -->
    {% include 'top-nav.html' %}

    <!-- side nav -->
    {% include 'side-nav.html' %}

    <!-- recipes -->
    <div class="recipes container grey-text text-darken-1">
      {% for o in course_list %}
      <div class="card-panel recipe white row">
        <div class="recipe-title">{{o}}</div>
      </div>
      {% endfor %}
    </div>

    <script src="{% static 'js/ui.js' %}"></script>
  </body>
</html>
