 
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期一</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期二</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期三</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期四</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期五</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期六</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1">星期日</font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">01</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">02</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>線性代數</strong><br />王家輝 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">03</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>線性代數</strong><br />王家輝 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">04</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>線性代數</strong><br />王家輝 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">20</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>班會</strong><br />蘇民揚 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">05</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>演算法</strong><br />徐熊健 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>週會</strong><br /><br />
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">06</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>演算法</strong><br />徐熊健 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">07</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>應用英文四</strong><br />林佳琪 <br />CC406
                (實)</font
              >
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>演算法</strong><br />徐熊健 <br />S102
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>行動程設</strong><br />李開暉 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">08</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>應用英文四</strong><br />陳勁宏 <br />EE202
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>行動程設</strong><br />李開暉 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">09</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36202<br /><strong>行動程設</strong><br />李開暉 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">30</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">40</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36358<br /><strong>進階CPP</strong><br />謝育平 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">50</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36358<br /><strong>進階CPP</strong><br />謝育平 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">60</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"
                >36358<br /><strong>進階CPP</strong><br />謝育平 <br />S304
              </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
          <tr align="center">
            <td align="center" height="45" width="75">
              <font size="-1">70</font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
            <td align="center" height="45" width="75">
              <font size="-1"> </font>
            </td>
          </tr>
       
